* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #CCCCCC;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
}

#header {
	align-items: center;
	background-color: #FFAA33;
	border-bottom: 1px solid #666666;
	display: flex;
	justify-content: flex-start;
	position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 80px;
}

#header > div {
	padding: 0px 12px;
	white-space: nowrap;
}

#header > div:nth-child(1) {
	font-family: Georgia, Times, serif;
	font-size: 64px;
	font-weight: bold;
	padding-right: 0px;
}

#header > div:nth-child(2) {
	flex: 1;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
}

#header > div:nth-child(3) {
	font-size: 16px;
	line-height: 24px;
}

#main {
	display: flex;
	gap: 16px;
	padding: 32px;
	position: fixed;
		top: 80px;
		left: 0px;
		width: 100%;
}

#sidebar {
	white-space: nowrap;
}


#sidebar div.tree-branch > div.tree-branch {
	margin-left: 16px;
}

#sidebar div.tree-header {
	align-items: center;
	display: flex;
	gap: 4px;
}

#sidebar div.tree-header > a {
	max-width: 256px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sidebar div.tree-header > div.buttons {
	background-color: #FFFFFF;
	border-radius: 8px;
	font-size: 16px;
	opacity: 0;
	padding: 0px 8px;
}

#sidebar div.tree-header:hover > div.buttons {
	opacity: 1;
}

#content {
	flex-grow: 1;
	min-width: 830px;
}

#document {
	background-color: #FFFFFF;
	border: 1px solid #666666;
	border-radius: 8px;
	font-family: Georgia, Times, serif;
	padding: 32px;
}

#document h1 {
	border-bottom: 1px solid #666666;
	font-size: 32px;
	line-height: 32px;
	padding-bottom: 16px;
}

#document h2 {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 16px;
	text-align: right;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.69;
}

textarea {
	border: 1px solid #333333;
	border-radius: 8px;
	font-family: Georgia, Times, serif;
	height: 800px;
	padding: 16px;
	width: 100%;
	resize: none;
}

input[type=text] {
	border: 1px solid #333333;
	border-radius: 8px;
	color: #333333;
	font-family: Georgia, Times, serif;
	padding: 8px;
	width: 100%;
}

select {
	border: 1px solid #333333;
	border-radius: 8px;
	color: #333333;
	padding: 8px;
	width: 100%;
}

button {
	background-color: #FFAA33;
	border: none;
	border-radius: 8px;
	color: #333333;
	cursor: pointer;
	padding: 8px 16px;
	width: 100%;
}

button:disabled {
	background-color: #999999;
	cursor: not-allowed;
}

button:hover:not(:disabled) {
	background-color: #FFCC55;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 16px;
}

#ai-bar {
	background-color:#333333;
	border-radius: 8px;
	color: #FFFFFF;
}

#ai-bar-header {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

#ai-bar-form {
	border-top: 1px solid #666666;
	display: none;
	gap: 16px;
	grid-template-columns: auto 1fr;
	padding: 16px;
}

#ai-bar-form > div {
	display: flex;
	align-items: center;
}

#ai-bar-form > div:nth-child(6) {
	gap: 16px;
}

#ai-bar-form > div:nth-child(6) > div:nth-child(1) {
	flex: 1;
	min-width: 180px;
}

#ai-bar-form > div:nth-child(6) > div:not(:first-child) {
	flex: 0 0 auto;
}

#ai-bar-form > div:nth-child(6) > div:nth-child(3),
#ai-bar-form > div:nth-child(6) > div:nth-child(4) {
	width: 180px;
}